.herocertified{
    background-color: #00344d;
    text-align: center;
    color: #ffffff;
   padding: 50px;
    
}
.corporate{
    font-family: sans-serif;
    font-weight: bold;

}
.para{
    font-family: sans-serif;
    font-weight: lighter;
   
}
@media (max-width: 480px) {
    /* Mobile-specific styles yahan likhein */
  }